.Main{
    opacity: 1;
    transition: 0.4s;
    // position: relative;
    // overflow-y: auto;
    // height: auto;
    // width: 100%;
}
.hidden{
    // position: fixed;
    opacity: 0;
    // overflow: hidden !important;
}