body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #0f4c81;
  background-image: url('./img/background.svg');
  background-size: contain;
  font-family: 'Montserrat', sans-serif;
  color: white;
  webkit-backface-visibility: hidden;
}
:focus:not(.active) {
  outline: 1px dashed rgba(255, 168, 168, 0.479);
  animation: focus 0.3s forwards ease-in;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@keyframes focus {
  0% {
    outline: 1px dashed rgba(0, 0, 0, 0);
  }
  100% {
    outline: 1px dashed rgba(255, 255, 255, 0.479);
  }
}
